@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #ddd;
}
html, body{
    background-color: #333;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.musicas{
    width: 300px;
}
.img-musicas{
    height: 100%;
    width: 100%;
}
.img-musicas img{
    object-fit: cover;
    height: 300px;
    width: 100%;
}
.descricoes{
    margin: .8rem 0;
}
.descricoes h2{
    font-size: 1.5rem;
    margin-bottom: .2rem;
}
.barra-progresso{
    margin-top: 1.5rem;
    border: 1px solid #ddd;
    height: 7px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.barra-progresso progress{
    background-color: gray;
    height: 5px;
    width: 0%;
}
.barra-progresso .ponto{
    background-color: #ddd;
    height: 18px;
    width: 18px;
    border-radius: 100%;
    margin-left: -10px;
}
.timer{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.timer p{
    font-size: .91rem;
}
.buttons{
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.buttons i{
    cursor: pointer;
}
.buttons .play, .pause{
    font-size: 3.2rem;
}
.buttons .pause{
    display: none;
}
.buttons .voltar, .proxima{
    font-size: 2.5rem;
}